/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application { skinClass: ClassReference("skins.general.backgroundGradient"); fontFamily: "myMyriad"; }

/*	BEGIN FONT STYLES	*/

/*	core font styles	*/
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { textDecoration: underline; }

/*	colors	*/
.emphasizedNumber { color: "0xFF931E"; }
.emphasizedNumberSubtext { color: "0xCCCCCC"; }
.dataGridAlternateColor1 { color: "0xAEDEE4"; }
.dropdownLabelText { color: "0x000000"; }
.headerAlternateColor1 { color: "0xBED63A"; }	/*	green	*/	/*	PublicHealthAdvisoryItemRenderer	*/
.subheadText { color: "0x4D4D4D"; }	/*	dark gray	*/
.subheadText2 { color: "0xCCCBCB"; }	/*	dark gray	*/	/*	DecisionSupportWidget	*/
/*	BEGIN COMPONENT STYLES	*/

/*	button	*/
.button { font-size: 11; color: "0x000000"; chromeColor: "0xB3B3B3"; }	/*	PublicHealthAdvisoryItemRenderer	*/
.toggleButton { toggleBackgroundColor: "0x4A4A49"; skin: ClassReference("skins.general.MyLinkButtonSkin"); }	/*	PublicHealthAdvisoryItemRenderer	*/

/*	border container	*/
.borderContainer1 { backgroundColor: "0x4B4A4A"; borderColor: "0xBCBBBB"; cornerRadiu: 5 }	/*	PublicHealthAdvisoryItemRenderer	*/
.borderContainer2 { backgroundColor: "0x3C3C3B"; borderAlpha: 0 }	/*	PublicHealthAdvisoryItemRenderer	*/

/*	grid	*/
.ruledGrid {  horizontalGap:-1; verticalGap:-1; }
.ruledGrid mx|GridItem { borderColor:#BCBBBB; borderAlpha: .3; borderStyle:solid; paddingLeft: 4; paddingRight: 4; paddingTop: 4; paddingBottom: 0; }

/*	link button	*/
.linkButtonStyle1{ color: "0xAEDEE4"; textRollOverColor: "0xAEDEE4"; textSelectedColor: "0xAEDEE4"; }		/*	light blue	*/	/*	PublicHealthAdvisoryItemRenderer	*/
.linkButtonStyle2{ color: "0x064E71"; textRollOverColor: "0x064E71"; textSelectedColor: "0x064E71";}		/*	dark blue	*/
.linkButtonStyle3{ color: "0xE6E6E6"; textRollOverColor: "0xE6E6E6"; textSelectedColor: "0xE6E6E6";}		/*	light gray	*/
.linkButtonStyle4{ color: "0xB3B3B3"; textRollOverColor: "0xE6E6E6"; textSelectedColor: "0xE6E6E6";}		/*	yellow	*/
.linkButtonStyle5{ color: "0xFF931E"; textRollOverColor: "0xFF931E"; textSelectedColor: "0xFF931E";}		/*	orange	*/
.linkButtonStyle6{ color: "0xFFFFFF"; textRollOverColor: "0xFFFFFF"; textSelectedColor: "0xFFFFFF";}		/*	white	*/

/*	navigator content	*/
.navigatorContent { backgroundColor: "0x333333"; }	/*	ViewPublicHealthAdvisories	*/
.navigatorContentHeaderBar {  backgroundColor: "0x706F6F"; color: "0xFFFFFF" }	/*	ViewPublicHealthAdvisories	*/

/*	view stack	*/
.viewStack { backgroundColor: "0x4A4A49"; borderColor: "0xBDBCBC"; borderStyle: "solid"; cornerRadius: 2; }

/*	POPUP STYLES	*/
.headerlessPopup { skinClass: ClassReference("skins.general.myHeaderlessTitleWindow") }
.headerlessPopupTitle { fontWeight: "bold"; fontSize: 16 }
.headerlessPopupInset { cornerRadius: 3; backgroundAlpha: 0; borderColor: "0x878787" }
.headerlessPopupModuleHeaderBackground { backgroundColor: "0xCECECE"; font-style: italic; color: "0x4D4D4D" }
.headerlessPopupFormLabel { color: "0x000000"; fontSize: 13; fontWeight: normal }

/* MODULES	*/

/*	decision support	*/
.decisionSupportModuleRiskLevelStatText { color: "0xCCCCCC" }
.decisionSupportModuleRiskLevelLow { color: "0xF8E831" }
.decisionSupportModuleRiskLevelHigh { color: "0xE84E1B" }