/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace enhancedtitlewindow "external.collapsibleTitleWindow.components.enhancedtitlewindow.*";

s|Application { skinClass: ClassReference("skins.general.backgroundGradientWhite"); fontFamily: "myMyriad"; }

enhancedtitlewindow|EnhancedTitleWindow {
	borderColor: "0x7F7F7F";
	backgroundColor: "0xFFFFFF";
	headerBackgroundColors: "0xFFFFFF","0xCCCCCC";
	headerBackgroundColor: "";
	headerBackgroundColorAlternate: "0x6B3736";
	headerColor: "0x574D4D";
	headerColorAlternate: "0x6E606E";
	showExpandIndicator: true;
	skinClass: ClassReference("external.collapsibleTitleWindow.skins.EnhancedTitleWindowSkin");
}

.standardDataGrid {
	alternatingItemColors: "0xFFFFFF","0xEEEEEE";
	borderVisible: false;
	color: "0x2D0F0F";
	fontFamily: "myMyriadNoCFF";
	headerBackgroundColor: "0xFFFFFF";
	headerBackgroundSkin: ClassReference("skins.general.CustomDataGridHeaderBackgroundSkin");
	headerSeparatorSkin: ClassReference("mx.skins.ProgrammaticSkin");
	headerStyleName: "dataGridHeader";
	headerHeight: 30;
	horizontalGridLines: true;
	rollOverColor: "0x31535E";
	selectionColor: "0x31535E";
	sortArrowSkin: Embed("/images/themes/white/sortArrow.png");
	textRollOverColor: "0x2D0F0F";
	textSelectedColor: "0x2D0F0F";
	verticalAlign: 'middle';
	verticalGridLines: true; 
}

.standardDataGridSolid {
	alternatingItemColors: "0xFFFFFF","0xFFFFFF";
	borderVisible: false;
	color: "0x2D0F0F";
	fontFamily: "myMyriadNoCFF";
	horizontalGridLineColor: "0xC6C6C6";
	horizontalSeparatorSkin: ClassReference(null); 
	headerBackgroundColor: "0xFFFFFF";
	headerBackgroundSkin: ClassReference("skins.general.CustomDataGridHeaderBackgroundSkin");
	headerSeparatorSkin: ClassReference("mx.skins.ProgrammaticSkin");
	headerStyleName: "dataGridHeader";
	headerHeight: 30;
	horizontalGridLines: true;
	selectionColor: "0xCCCCCC";
	sortArrowSkin: Embed("/images/themes/white/sortArrow.png");
	textSelectedColor: "0x2D0F0F";
	textRollOverColor: "0xFFFFFF";
	rollOverColor: "0xCCCCCC"; 
	verticalAlign: 'middle';
	verticalGridLines: true;
}

.dataGridHeader {
	color: "0x1D6487";
	fontSize: 12;
	fontWeight: bold;
	fontFamily: "myMyriadNoCFF";
}

.dataGridHeaderAlternative {
	color: "0xBED63A";
	fontSize: 12;
	fontWeight: bold;
	fontFamily: "myMyriadNoCFF";
}

.barChart {
	backgroundColor: "0xFFFFFF";
}