/* CSS file */

/* Textarea used in month view to display event description */


@namespace spark "spark.skins.spark.*";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

spark|TextAreaSkin.txtArea
{
borderStyle: none;
}

/* Skins for buttons used in week and day view */
mx|Button.btnDayItems
{
upSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
overSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
downSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
disabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
selectedUpSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
selectedOverSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
selectedDownSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
selectedDisabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSkin');
textAlign: left;
paddingBottom: 0;
}

mx|Button.btnRequestedAppointments
{
	upSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	overSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	downSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	disabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	selectedUpSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	selectedOverSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	selectedDownSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	selectedDisabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonRequestedAppointments');
	textAlign: left;
	paddingBottom: 0;
}

mx|Button.btnSelectedAppointments
{
	upSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	overSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	downSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	disabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	selectedUpSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	selectedOverSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	selectedDownSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	selectedDisabledSkin:ClassReference('edu.asu.chir.calendar.classes.skins.ButtonSelectedAppointments');
	textAlign: left;
	paddingBottom: 0;
}

/* title for showing date used in day and week view */
s|Label.lblViewTitle
{
color: #EDEDED;
fontSize: 11;
/*fontWeight: bold;
textAlign: left;
color: #FFFFFF;*/
}

/* global button styles */
/*
mx|Button
{
fillAlphas: 0.6, 0.6, 0.6, 0.6;
fillColors: #FFFFFF, #CCCCCC;
}
*/

/* Grid styles, used in month view */
mx|Grid.grdMonthView
{
	/*DB - enable these if you want to remove the "disabled" cels in the monthly external.calendar (before or after the 30-31 monthly days)
	borderStyle:solid;	
	borderWeight: 1;
	borderColor: "0x6E6E6E";
	paddingTop: -1;
	paddingBottom: -1;
	paddingLeft: -1;*/
horizontalGap: -1;	/*0 damian*/
verticalGap: -1;	/*0 damian*/
}

/*used for showing day's name in week view */
/*damian*/
mx|Label.lblDaysNames	
{
	/*fontFamily: "myMyriad";*/
	fontSize: 11;
	color: #ECECEC;
}

/* Global HRule style */
mx|HRule
{
shadowColor: #004C7C;
}

/* Application controlbar style, used in all 3 views */
mx|ApplicationControlBar.appBarDayCell
{
fillAlphas: 0.0, 0.0;		/*damian*/
fillColors: #7FC4FF, #52AACA;
cornerRadius: 0;
paddingTop: 2;
}


/* Canvas used as base of month cell */
mx|Canvas.canDayCellBase
/*Canvas.canDayCellBase*/
{
backgroundColor: #3C3C3B;
borderStyle: solid;
borderColor: #6E6E6E;
}

/* hours label used in day and week view */
s|Label.lblHours
{
color: #EDEDED;
fontSize: 11;
}

/* mins label used in day and week view */
s|Label.lblMins
{
color: #EDEDED;
fontSize: 11;
}

/* Embed Verdana font in application 
@font-face
{
/*fontFamily: Verdana;
fontWeight: normal;
fontStyle: normal;
src: local("Verdana");
}*/