/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace comps "comps.*";		/*for logo.fxg*/
@namespace enhancedtitlewindow "external.collapsibleTitleWindow.components.enhancedtitlewindow.*";

@font-face {
	src:url("/fonts/MyriadPro-Regular.otf");
	fontFamily: "myMyriad";
}

@font-face {
	src:url("/fonts/MyriadPro-Bold.otf");
	fontFamily: "myMyriad";
	fontWeight: bold;
}

@font-face {
	src:url("/fonts/MyriadPro-It.otf");
	fontFamily: "myMyriad";
	fontStyle: italic;
}

@font-face {
	src:url("/fonts/MyriadPro-BoldIt.otf");
	fontFamily: "myMyriad";
	fontWeight: bold;
	fontStyle: italic;
}

/*Embedding all the fonts again with CFF=false because MX Components can't embed fonts with CFF...
There is a workaround so that theoretically we don't need to embed everything again (and increase filesize), which is setting:
mx|global {
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
**I think that checking "Use FTE in MX Components" in the Compiler options does the same thing?**
However, this works for text in all MX components EXCEPT the DataGrid and Legend... 
For the Datagrid, it can be fixed by adding defaultDataGridItemRenderer="mx.controls.dataGridClasses.FTEDataGridItemRenderer" (which works, EXCEPT that it gave me "freezing" problems in the immunizations module when feeding the DataGrid from the PlotChart selection...)
There isn't a fix for the legend control that I know of...
 */
@font-face {
	src:url("/fonts/MyriadPro-Regular.otf");
	fontFamily: "myMyriadNoCFF";
	embedAsCFF: false;
}

@font-face {
	src:url("/fonts/MyriadPro-Bold.otf");
	fontFamily: "myMyriadNoCFF";
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src:url("/fonts/MyriadPro-It.otf");
	fontFamily: "myMyriadNoCFF";
	fontStyle: italic;
	embedAsCFF: false;
}

@font-face {
	src:url("/fonts/MyriadPro-BoldIt.otf");
	fontFamily: "myMyriadNoCFF";
	fontWeight: bold;
	fontStyle: italic;
	embedAsCFF: false;
}

/*This is a fix cause MX components can't display embedded fonts with CFF... See http://help.adobe.com/en_US/flex/using/WS0FA8AEDB-C69F-4f19-ADA5-AA5757217624.html*/
/*I think that checking "Use FTE in MX Components" in the Compiler options does the same thing?*/
mx|global {
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
mx|LegendItem {
	textFieldClass: ClassReference("mx.core.UITextField");
}

s|Button {
	fontSize: 11;
	paddingLeft: 10;
	paddingTop: 4;
	paddingBottom: 4;
	paddingRight: 10;
	cornerRadius: 0;
	color: "0x000000";
	disabledColor: "0x000000";
	textRollOverColor: "0x000000";
}

s|ButtonBar s|ButtonBarButton:upAndSelected,
s|ButtonBar s|ButtonBarButton:overAndSelected,
s|ButtonBar s|ButtonBarButton:downAndSelected,
s|ButtonBar s|ButtonBarButton:disabledAndSelected,
s|ToggleButton:upAndSelected,
s|ToggleButton:overAndSelected,
s|ToggleButton:downAndSelected,
s|ToggleButton:disabledAndSelected {
	chromeColor:"0xFF931E";
	color: "0xFFFFFF";
}

s|DropDownList {
	font-size: 11;
	color: #000000;
	textSelectedColor: #000000;
}

mx|DateField {
	skin: Embed("/images/calendar.png");
	upSkin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
}

.dropDownListDark {
	contentBackgroundColor: "0x3C3C3B";
	chromeColor: "0x3C3C3B";
	color: "0xCCCBCB";
	rollOverColor: "0x666666";
	selectionColor: "0x888888";
}

s|TextArea {
	color: "0x000000";
	fontFamily: "myMyriad";
	fontSize: 12;
	backgroundColor: "0xE6E6E6";
	fontWeight: normal;
}

/*LOGIN BOX*/
.loginBoxGreenBoldTitle {	/*title*/
	fontWeight: bold;
	fontSize: 21;
	color: "0xBED63A";
}

.loginBoxWhiteText {	/*text*/
	fontSize: 16;
	color: "0xFFFFFF";
}

.loginBoxWhiteItalicText {	/*textItalic*/
	font-style:italic;
	fontSize: 14;
	font-weight:normal;
	color: "0xFFFFFF";
}

.loginBoxWhiteBoldText {	/*formLabels*/
	font-weight: bold;
	fontSize: 14;
	color: "0xFFFFFF";
}

.whiteText11 {
	fontSize: 11;
	font-weight:normal;
	color: "0xffffff";
}

.searchPlaceholder {
	font-style:italic;
	fontSize: 11;
	font-weight:normal;
	color: "0x999999";
}

.formTextField {
	content-background-color: "0xFFFFFF";
	color: "0x666666";
	fontSize: 13;
}

.linkBtn {
	textDecoration: none;	
}

.linkBtnUnderline {
	textDecoration: underline;	
}

.linkBtnGray {
	skin: ClassReference(null);
	color: "0x999999";
	textRollOverColor: "0x999999";
	fontSize: 12;
	fontFamily: "myMyriad";
}

.linkBtnYellow {
	skin: ClassReference(null);
	color: "0xB3B3B3";
	textRollOverColor: "0xCCCC33";
	fontSize: 12;
	fontFamily: "myMyriad";
}

.linkBtnGreen {
	skin: ClassReference(null);
	color: "0xBED63A";
	textRollOverColor: "0xCCCC33";
	fontSize: 13;
	fontFamily: "myMyriad";
}

.linkBtnBlue {
	skin: ClassReference(null);
	color: "0xAEDEE4";
	textRollOverColor: "0xAEDEE4";
	paddingLeft: 0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

.linkBtnOrange {
	skin: ClassReference(null);
	color: "0xF29222";
	textRollOverColor: "0xFF931E";
	textSelectedColor: "0xFF931E";
	paddingLeft: 0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

.linkBtnDarkBlue {
	skin: ClassReference(null);
	color: "0x064E71";
	textRollOverColor: "0xAEDEE4";
	paddingLeft: 0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

.linkBtnWhite {
	skin: ClassReference(null);
	color: "0xFFFFFF";
	textRollOverColor: "0xFFFFFF";
	fontFamily: "myMyriad";
	paddingLeft: 0;
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
}

/*THIS IS USED AS A TITLE FOR THE USER PROFILE, AND ALSO THE TITLE FOR EACH MODULE*/
.whiteBoldTitle {	/*profileFormTitle*/
	font-size: 23;
	font-weight:bold;
	color: "0xFFFFFF";
}

/*Modules' subtitles --  i.e.: "You have X new messages"*/
.moduleSubtitleItalic {
	fontStyle:italic;
	fontSize: 16;
	color: "0xFFFFFF";
	paddingTop: 4;
}

/*The number part in the module's subtitle*/
.moduleSubtitleNumber {
	color: "0xFF931E";
	fontWeight: bold;
	paddingLeft: -2;
	paddingRight: -2;
}

/*displayed in each module's top right corner*/
.searchButtonIcon {
	icon: url("/images/btnSearchIcon.png");
	chromeColor: "0xB3B3B3";
	left: -4;
}

/*THIS IS USED AS A SUBTITLE IN THE USER PROFILE FORM, ALSO AS A SUBTITLE FOR THE MESSAGES' MAILBOXES, AS AN OPEN MESSAGE'S TITLE (subject), AND THE SUBTITLES IN MEDICAL RECORDS' BOTTOM BOXES & SERVICE DETAILS, VITAL SIGNS' vitals' SUBTITLE, EXERCISE...*/
.greenBoldText {		/*profileFormSubtitle*/
	fontSize: 13;
	fontWeight:bold;
	color: "0xBED63A";
}

/*EXERCISE*/
.greenSubtitle {
	fontSize: 13;
	color: "0xBED63A";
}

/*THIS IS USED AS THE TEXT FOR THE USER PROFILE, MESSAGES' MAILBOXES, EXERCISE AND TEAM PROFILE */
.whiteText13 {	/*profileFormText*/
	font-size: 13;
	font-weight:normal;
	color: "0xFFFFFF";
}

/*USER PROFILE*/
.blueBoldSubtitle {	/*profileFormName*/
	font-size: 18;
	font-weight:bold;
	color: "0xAEDEE4";
}

.black {	/*myTextInput*/
	color: "0x000000";
}

/*HOME PAGE*/
.widgetTabTitle {
	font-size: 17;
	font-weight:bold;
	color: "0xFFFFFF";
}

/*THIS IS USED IN THE LOGIN BOX, AND ALSO IN THE "SAVE" BUTTON FOR THE USER PROFILE FORM*/
.orangeButton {
	chrome-color: "0xF07E2A";	
	color: "0xFFFFFF";
	fontSize: 14;
}

/*TEAM PROFILE*/
.grayTextBold11{
	fontSize: 11;
	fontWeight:bold;
	color: "0x999999";
}
.grayText11{
	fontSize: 11;
	fontWeight:normal;
	color: "0x4D4D4D";
}
/*THESE NEXT 4 ARE FOR THE MODULES SIDEBARS, i.e. SHOWING APPOINTMENT DETAILS, OR IMMUNIZATION DETAILS*/
.subtitles {
	font-size: 12;
	fontWeight: bold;
	color: "0xBED63A";
}

.smallText {
	font-size: 10.5;
	color: "0xEDEDED";
}

.smallTextBlue {
	font-size: 10.5;
	color: "0xAEDEE4";
}

.smallTextRed {
	font-size: 10.5;
	color: "0xEE732A";
}

.smallTextBold {
	font-size: 10.5;
	font-weight:bold;
	color: "0xEDEDED";
}

.mediumTextBlack {
	font-size: 12;
	color: "0x000000";
}

.mediumTextBlackBold {
	font-size: 12;
	font-weight:bold;
	color: "0x000000";
}

/*TEAM MEMBER SIDEBAR LINKS*/
.mediumTextBlue {
	font-size: 12;
	color: "0xAEDEE4";
}

/*CURRENTLY USED FOR BUTTONS IN THE APPOINTMENTS, MESSAGES, AND MED. RECORDS MODULES*/
.buttonText {
	font-size: 11;
	color: "0x000000";
	chromeColor: "0xB3B3B3";
}

/*THE NEXT 4 ARE TAKEN FROM THE "DASH BORDER" (dotted line?) AT http://cookbooks.adobe.com/post_Creating_a_dashed_line_custom_border_with_dash_and-13286.html*/
.DashBorder {
	dashlen: 20;
	gaplen: 20;
}   
.tightDashBorder {
	dashlen: 2;
	gaplen: 2;
}
.tightDashWideGapBorder {
	dashlen: 2;
	gaplen: 20;
}
.wideDashTightGapBorder {
	dashlen: 20;
	gaplen: 2;
}

/*USED FOR THE DATAGRID IN THE IMMUNIZATIONS AND APPOINTMENTS DATA GRIDS (also immunization plotchart header labels)*/
.dataGridHeader {
	color: "0xAEDEE4";
	fontSize: 12;
	fontWeight: bold;
	fontFamily: "myMyriadNoCFF";
}

/*GREEN VERSION USED FOR THE MEDICATIONS PLOTCHART, IMMUNIZATION*/
.dataGridHeaderAlternative {
	color: "0xBED63A";
	fontSize: 12;
	fontWeight: bold;
	fontFamily: "myMyriadNoCFF";
}

.standardDataGrid {
	fontFamily: "myMyriadNoCFF";
	alternatingItemColors: #303030,#3C3C3B;
	selectionColor: "0x31535E";
	rollOverColor: "0x31535E";
	color: "0xFFFFFF";
	textRollOverColor: "0xFFFFFF";
	textSelectedColor: "0xFFFFFF";
	fontSize: 10;
	verticalAlign: middle;
	headerBackgroundSkin: ClassReference("skins.general.CustomDataGridHeaderBackgroundSkin");
	headerSeparatorSkin: ClassReference("mx.skins.ProgrammaticSkin");
	headerHeight: 30;
	borderVisible: false;
	horizontalGridLines: false;	
}

/*For the date chooser's header text, on appoitments module*/
.dateChooserGrayHeader {
	color: "0x4A4A49";	
}

/*For the date chooser's header text, on VITAL SIGNS module*/
.dateChooserVitalGrayHeader {
	color: "0x3C3C3B";	
}

/*IMMUNIZATIONS*/
mx|PlotChart {
	fontSize:11;
	color:#FFFFFF;
}

/*obsolete?*/
.immunizationsVAxisLabels{
	paddingTop: 20;
}

/*MESSAGES*/
.messagesTabs {
	color: "0xFFFFFF";
	fontSize: 11;
	fontWeight: bold;
}

.messageFolderSelected {
	color: "0xFF931E";
	fontWeight: bold;
}
.messageFolderNotSelected {
	color: "0xFFFFFF";
	fontWeight: normal;
}

/*APPOINTMENTS*/
.calendarSelectedDay {
	color: "0xFF931E";
	fontWeight: bold;
}

.calendarNonSelectedDay {
	color: "0xEDEDED";
}

.calendarSelectedCell {
	backgroundColor: "0x545454";
	borderStyle: solid;
	borderColor: #6E6E6E;
}

/*USED FOR THE "NEW MESSAGE" FORM*/
s|FormItem {
	skinClass: ClassReference("spark.skins.spark.StackedFormItemSkin");
}

/*MEDICAL RECORDS, also EXERCISE*/
.orangeStandout {
	color: "0xFBB03B";
	fontSize: 36;
	fontWeight: bold;
}

/*EDUCATIONAL RESOURCES*/
.transparentBorderContainer {
	borderColor: "0xBDBCBC";
	cornerRadius: 5;
	backgroundAlpha: 0;
}

/*used for the screens with dark background*/
.transparentBorderContainerAlternative {
	borderColor: "0xE3E3E3";
	borderAlpha: 0.3;
	cornerRadius: 3;
	backgroundAlpha: 0;
}

.erButtonIcon {
	upIcon: url("/images/smallArrowCollapsed.png");
	overIcon: url("/images/smallArrowCollapsedBlue.png");
}

.erSearchLight {
	borderAlpha: 0;
	backgroundAlpha: 0;
}

.erSearchDark {
	borderAlpha: 0;
	backgroundColor: "0xCDCDCD";
}

.erCopyURLButton {
	font-size: 10;
	color: "0x4D4D4D";
	chromeColor: "0xB3B3B3";
}

.orangeSubtitle {
	color: "0xFBB03B";
	fontSize: 16;
	fontWeight: bold;
}

/*Used for Exercise subtitles*/
.lightBlueSubtitles {
	color: "0xAEDEE4";
	fontSize: 13;
	fontWeight: bold;
}

/*EXERCISE parentheses*/
.greenText13 {	/*profileFormText*/
	font-size: 13;
	font-weight:normal;
	color: "0x339900";
}

.grayNote {
	font-size: 13;
	font-style:italic;
	color: "0xCCCCCC";
}

/*	Team Profile	*/
.teamProfileTitle{
	font-size: 16;
	font-weight: bold;
	color: "0xFFFFFF";
}

/*	chat	*/
.gray12 {
	color: "0x666666";
	font-size: 12;
	font-family: "myMyriad";
	font-weight: normal;
}
.greyButtonBar { 
	chromeColor: "0xB3B3B3";
	color: "0x4E4E4E";
}
.darkGrayBold16 {
	color: "0x4D4D4D";
	font-size: 16;
	font-weight: bold;
}
.black12 {
	color: "0x000000";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 12;
}
.yellow11 {
	color: "0xCCCC33";
	fontSize: 11;
	fontFamily: "myMyriad";
}

.iconButton {
	skinClass: ClassReference("skins.general.IconButtonSkin");
}

/*s|Form {
skinClass: ClassReference("spark.skins.spark.StackedFormSkin");
}*/

/*mx|DataTip {
paddingRight:30;
paddingLeft:30;
}*/

/*	Appointments	*/
.blue12 {
	color: "0xAEDBE2";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 12;
}
.white11 {
	color: "0xffffff";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 11;
}
.white12 {
	color: "0xffffff";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 12;
}
.white12SemiBold {
	color: "0xffffff";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 12;
}
.gray9Italic {
	color: "0xCCCCCC";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 9;
	font-style: italic;
}
.gray9 {
	color: "0xEDEDED";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 9;
}
.greenBold12 {
	fontSize: 12;
	fontWeight:bold;
	color: "0xBED63A";
}
.blue9SemiBold {
	font-family: "myMyriad";
	font-size: 9;
	color: "0xAEDEE4";
}
.white9 {
	font-family: "myMyriad";
	font-size: 9;
	color: "0xffffff";
}
.white9Bold {
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 9;
	color: "0xffffff";
}
.blue11Bold {
	color: "0xAEDBE2";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 11;
}
.chartTitle {
	backgroundColor: "0xB3B3B3";
	borderColor: "0xFFFFFF";
	borderThickness: 0;
}
.darkGrayBold12 {
	color: "0x4D4D4D";
	font-family: "myMyriad";
	font-size: 12;
	font-weight: bold;
}
.darkGray12 {
	color: "0x4D4D4D";
	font-family: "myMyriad";
	font-size: 12;
	font-weight: normal;
}
.lightGray11 {
	font-size: 11;
	font-family: "myMyriad";
	color: "0xEDEDED";
}
.black16SemiBold {
	font-size: 16;
	font-family: "myMyriad";
	color: "0x000000";
	font-weight: bold;
}
.black12Bold {
	color: "0x000000";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 12;
}

/*	patient search	*/
.white14Bold {
	font-weight: bold;
	fontSize: 14;
	color: "0xFFFFFF";
}
.white22Bold {
	font-family: "myMyriad";
	font-size: 22;
	color: "0xFFFFFF";
	font-weight: bold;
}
.mediumGray12Italic {
	font-family: "myMyriad";
	font-style:italic;
	fontSize: 11;
	font-weight:normal;
	color: "0x999999";
}
/*	context menu	*/

.chatModes {
	chromeColor:"0x3c3c3b";
	color: "0xb3b3b3";
	cornerRadius: 0;
	firstButton: ClassReference("skins.general.FlatButtonSkin");
	middleButton: ClassReference("skins.general.FlatButtonSkin");
	lastButton: ClassReference("skins.general.FlatButtonSkin");
}

enhancedtitlewindow|EnhancedTitleWindow {
	skin-class:ClassReference("external.collapsibleTitleWindow.skins.EnhancedTitleWindowSkin");
	show-expand-indicator:true;
}

.dateChooserDark {
	contentBackgroundColor: "0x3C3C3B";
	borderColor: "0x4D4D4D";
	color: "0xEDEDED";
	headerColors: "0xF7F7F7","0xB3B3B3";
	selectionColor: "0x585858";
	rollOverColor: "0x3C3C3B";
	todayColor: "0xD6D6D6";
	headerStyleName: "dateChooserVitalGrayHeader";
	fontSize: 11;
}

/*	preferences	*/
.preferencesTab {
	fillColors: #F2F2F2,#F2F2F2;
	fillAlphas: 1,1;
	cornerRadius: 0;
	color: #4D4D4D;
	textAlign: "left";
}
.preferencesTabSelected {
	fillColors: #FFFFFF,#FFFFFF;
	fillAlphas: 1,1;
	cornerRadius: 0;
	color: #4D4D4D;
	textAlign: "left";
}
.darkGray12Italic {
	font-family: "myMyriad";
	font-style:italic;
	fontSize: 11;
	font-weight:normal;
	color: "0x4D4D4D";
}

/*	medications	*/
.red11 {
	font-family: "myMyriad";
	fontSize: 11;
	font-weight: normal;
	color: "0xDA2925";	
}

/*	advisory	*/
.blue13Bold {
	color: "0xAEDBE2";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 13;
}
.gray13Italic {
	color: "0xCCCCCC";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 13;
	font-style: italic;
}
.gray11Bold {
	color: "0xCCCCCC";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 11;
}
.gray19 {
	color: "0xCCCCCC";
	font-family: "myMyriad";
	font-weight: normal;
	font-size: 19;
}
.lightBlue11Bold {
	color: "0x9FD6DC";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 11;
}
.lightBlue11Italic {
	color: "0x9FD6DC";
	font-family: "myMyriad";
	font-style: italic;
	font-size: 13;
}
.lightBlue19Bold {
	color: "0x9FD6DC";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 19;
}
.orange16Bold {
	color: "0xF29222";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 16;
}
.white12Bold {
	color: "0xffffff";
	font-family: "myMyriad";
	font-weight: bold;
	font-size: 12;
}
.green12Bold {
	fontSize: 11;
	fontWeight:bold;
	color: "0xBED63A";
}